{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Meilisearch plugin for Craft CMS 3.x
 *
 * Meilisearch Settings.twig
 *
 * @author    Abry Rath
 * @copyright Copyright (c) 2020 Abry Rath
 * @link      https://union.co
 * @package   Meilisearch
 * @since     0.1.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("unionco\\meilisearch\\assetbundles\\meilisearch\\MeilisearchAsset") %}

{{ forms.autosuggestField({
    suggestEnvVars: true,
    label: 'Meilisearch Host',
    instructions: 'Include protocol and port',
    id: 'host',
    name: 'host',
    value: settings['host']})
}}

{{ forms.autosuggestField({
    suggestEnvVars: true,
    label: 'API Key',
    instructions: 'Leave blank if not required',
    id: 'key',
    name: 'key',
    value: settings['key']})
}}
{#
<hr/>

{% set sections = craft.app.sections.getEditableSections() %}

{% if sections is not empty %}
    <h3>Sections</h3>
    {% set options = [] %}
    {% set values = [] %}

    {% for section in sections %}
        {% set options = options|merge([{
            label: section.name,
            value: section.id
            }]) %}
    {% endfor %}

    {{ forms.checkboxGroupField({
        name: 'sections',
        options: options,
        values: settings['sections'],
    }) }}
{% endif %}

{% set categories = craft.app.categories.getEditableGroups() %}
{% if categories is not empty %}
    <h3>Categories</h3>
    {% set options = [] %}
    {% for category in categories %}
        {% set options = options|merge([{
            label: category.name,
            value: category.id,
        }]) %}
    {% endfor %}

    {{ forms.checkboxGroupField({
        name: 'categories',
        options: options,
        values: settings['categories']
    }) }}
{% endif %}

{% set tags = craft.app.tags.getAllTagGroups() %}
{% if tags is not empty %}
    <h3>Tags</h3>
    {% set options = [] %}
    {% for tag in tags %}
        {% set options = options|merge([{
            label: tag.name,
            value: tag.id,
        }]) %}
    {% endfor %}

    {{ forms.checkboxGroupField({
        name: 'tags',
        options: options,
        values: settings['tags']
    }) }}
{% endif %}

{% set userGroups = craft.app.userGroups.getAllGroups() %}
{% if CraftPro and userGroups is not empty %}
    <h3>User Groups</h3>
    {% set options = [] %}
    {% for group in userGroups %}
        {% set options = options|merge([{
            label: group.name,
            value: group.id,
        }]) %}
    {% endfor %}

    {{ forms.checkboxGroupField({
        name: 'userGroups',
        options: options,
        values: settings['userGroups']
    }) }}

    {{ dump(settings.getIndexes()) }}
{% endif %} #}
